
.about {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about__header {
    font-family: 'rozha_oneregular';
    font-weight: normal;
    font-size: 3rem;
    justify-self: center;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about__list-link {
    text-decoration: none;
    color: var(--about-list-text);
}

.about__list-link:hover {
    text-decoration: underline;
    color: var(--about-list-text-hover);
}