*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

@font-face {
    font-family: 'questrialregular';
    src: url('./assets/fonts/questrial/questrial-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/questrial/questrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rozha_oneregular';
    src: url('./assets/fonts/rozha_one/rozhaone-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/rozha_one/rozhaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Color Palette */
    --dark-brown: hsl(0, 11%, 4%);
    --dark-brown-alt: hsl(0, 14%, 10%);

    --navy: hsl(240, 10%, 40%);
    --navy-alt: hsl(240, 10%, 45%);

    --gold: hsl(36, 76%, 57%);
    --gold-alt: hsl(36, 76%, 62%);

    --brown: hsl(23, 44%, 21%);

    --light-brown: hsl(23, 43%, 49%);
    --light-brown-alt: hsl(23, 54%, 59%);

    --red: hsl(0, 58%, 49%);
    --red-alt: hsl(0, 58%, 54%);

    --green: hsl(99, 40%, 38%);

    --shadow-dark: hsla(0, 0%, 0%, 0.7);
    --shadow-medium: rgba(0, 0, 0, 0.5);
    --shadow-light: rgba(0, 0, 0, 0.25);

    /* Functional Variables */
    --body-bg: var(--dark-brown-alt);
    --body-text: var(--gold);

    --button-bg: var(--gold);
    --button-text: var(--dark-brown);
    
    --button-bg-hover: var(--gold-alt);
    --button-text-hover: var(--dark-brown-alt);

    --header-bg: var(--dark-brown);
    --header-color: var(--gold);
    --header-color-alt: var(--gold-alt);

    --header-color-selected: var(--red);
    --header-color-selected-alt: var(--red-alt);

    --logo-color: var(--gold);
    --logo-color-alt: var(--green);

    --logo-color-subtle: var(--light-brown);

    --footer-bg: var(--dark-brown);
    --footer-text: var(--light-brown);

    --subtle-link-text: var(--light-brown);
    --subtle-link-text-hover: var(--light-brown-alt);

    --about-list-text: var(--gold);
    --about-list-text-hover: var(--gold-alt);

    --framed-border: var(--brown);
}

body {
    background-color: var(--body-bg);
    color: var(--body-text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.layout-wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 850px) 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header header header'
                         '. content .'
                         'footer footer footer';
    width: 100%;
    min-height: 100vh;
}

#content {
    grid-area: content;
    display: grid;
}

.button {
    font-size: 1rem;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background-color: var(--button-bg);
    color: var(--button-text);
    transition: background-color 100ms;
}

.button:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-text-hover);
    cursor: pointer;
}

.button--header {
    font-size: 1.1rem;
    border-radius: 0px;
    padding: 8px 16px;
    background-color: var(--header-bg);
    color: var(--header-color);
    transition: border 100ms,
                color 100ms;
}

.button--header:hover {
    background-color: var(--header-bg);
    color: var(--header-color-alt);
    border-bottom: 3px solid var(--header-color-alt);
}

.button--header--selected {
    color: var(--header-color-selected);
    border-bottom: 3px solid var(--header-color-selected);  
}

.button--header--selected:hover {
    color: var(--header-color-selected-alt);
    border-bottom: 3px solid var(--header-color-selected-alt);  
}

.logo {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 2.5rem;
    font-family: rozha_oneregular;
    width: fit-content;
}

.logo__a {
    text-decoration: none;
    color: var(--logo-color);
    display: flex;
}

.logo__ampersand {
    color: var(--logo-color-alt);
}

.header {
    grid-area: header;
    background-color: var(--header-bg);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 0 32px;
}

.header__nav {
    display: flex;
    padding-top: 4px;
}

.footer {
    grid-area: footer;
    display: grid;
    gap: 16px;
    justify-items: center;
    padding: 32px;
    padding-bottom: 64px;
    background: var(--footer-bg);
}

.footer__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.footer__copyright {
    color: var(--footer-text);
    text-align: center;
}

.footer-section {
    border-top: 2px solid var(--brown);
    padding: 8px;
    flex: 1;
    display: grid;
    min-width: max-content;
}

.footer-logo {
    font-size: 2rem;
    font-family: rozha_oneregular;
}

.footer-logo__a {
    color: var(--logo-color-subtle);
    text-decoration: none;
}

.subtle-link {
    text-decoration: none;
    color: var(--subtle-link-text);
}

.subtle-link:hover {
    text-decoration: underline;
    color: var(--subtle-link-text-hover);
}

.footer-socials {
    display: flex;
    gap: 8px;
}

.social-media-icon {
    width: 24px;
    height: 24px;
    background: var(--footer-text);
    border-radius: 4px;
}

.social-media-icon:hover {
    cursor: pointer;
}

.framed-border__outer {
    border: 3px solid var(--framed-border);
    height: 100%;
}

.framed-border__inner {
    border-left: 3px solid var(--framed-border);
    border-right: 3px solid var(--framed-border);
    margin: 0 8px;
    padding: 24px;
    height: 100%;
}
